@model List<DOP.Common.Models.Personnel>
<table border="1" width="100%" cellpadding="5">
    <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Middle Name</th>
    </tr>
    @{ foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.LastName</td>
                <td>@item.MiddleName</td>
                <td>@Html.ActionLink("Details", "PersonnelDetails", "Main", routeValues: new { PersonnelId = item.PersonnelId }, htmlAttributes: null)</td>
            </tr>
        }
    }
</table>
