@model DOP.Common.Models.Personnel
@{
    ViewBag.Title = "PersonnelDetails";
}

<h2>Name:@Model.Name</h2>
<h2>Last name:@Model.LastName</h2>
<h2>Middle name:@Model.MiddleName</h2>
<h2>Adress:@Model.Adress</h2>
<h2>Family state:@if (Model.FamilyState == true)
{ <text>+</text>}
else {<text>-</text> }</h2>



