
@{
    ViewBag.Title = "SearchPage";
}

<center><div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="Lstname">Last name:</label>
    <input type="text" class="form-control" id="Lstname">
</div>
<div class="form-group">
    <label for="MidlName">Middle name:</label>
    <input type="text" class="form-control" id="MidlName">
</div>
</center>
    <button onclick="OnSearchClick()" type="button" class="btn btn-primary btn-block">Search</button><br>
<div id="Result">
    </div>
<script type="text/javascript">
    function OnSearchClick()
    {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("SearchPersonnelByLNM", "Search")' + "?LNM=" + $("#Lstname").val() + $("#usr").val() + $("#MidlName").val(),
            success: function (data) {
                if (data != '') {                                        
                    $("#Result").html('');
                    $("#Result").append(data);                   
                }
            }
        });
    }   
</script>